* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 144, 176);
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 70px;
    color: white;
}

h4 {
    font-size: 30px;
    color: white;
}

.players,
.dices {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}

.dice2,
.dice1 {
    background-color: red;
    height: 30vh;
    width: 20vw;

}